<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"/>
        <meta name="keywords" content="admin template, robust admin template, dashboard template, flat admin template, responsive admin template, web app"/>
        <meta name="author" content="PIXINVENT"/>
        <title>Emida</title>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-touch-fullscreen" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="default"/>
        <!-- BEGIN VENDOR CSS-->

        <link href="/resources/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <!-- font icons-->
        <link href="/resources/css/icomoon.css" rel="stylesheet" type="text/css"/>
        <link href="/resources/css/flag-icon.min.css" rel="stylesheet" type="text/css"/>
        <link href="/resources/css/pace.css" rel="stylesheet" type="text/css"/>
        <!-- END VENDOR CSS-->
        <!-- BEGIN ROBUST CSS-->
        <link href="/resources/css/bootstrap-extended.css" rel="stylesheet" type="text/css"/>
        <link href="/resources/css/app.css" rel="stylesheet" type="text/css"/>
        <link href="/resources/css/colors.css" rel="stylesheet" type="text/css"/>
        <!-- END ROBUST CSS-->
        <!-- BEGIN Page Level CSS-->
        <link href="/resources/css/vertical-menu.css" rel="stylesheet" type="text/css"/>
        <link href="/resources/css/vertical-overlay-menu.css" rel="stylesheet" type="text/css"/>
        <link href="/resources/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="/resources/css/vertical-menu.css" rel="stylesheet" type="text/css"/>
        <!-- END Page Level CSS-->
        <!-- BEGIN Custom CSS-->
        <link href="/resources/css/jquery.sweet-modal.min.css" rel="stylesheet" type="text/css"/>
        <link href="/resources/css/loading.css" rel="stylesheet" type="text/css"/>
        <link href="/resources/css/radiob.css" rel="stylesheet" type="text/css"/>

        <!-- END Custom CSS-->



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- JS MODALS START-->

        <script type="text/javascript" src="/resources/js/jquery.sweet-modal.min.js"></script>        
        <script src="/resources/js/Graphics/GraphicsActs.js" type="text/javascript"></script>
        

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css"/>

        <!-- JS MODALS END-->
    </head>
    <body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns  fixed-navbar">
    <center>
        <div class="ajax-loading">
            <div></div>
        </div>
    </center>  
    <!-- main menu-->
    <div th:replace="header :: header"></div>
    <!-- Start Body-->
    <div class="app-content content container-fluid">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-6 col-xs-12 mb-1">
                    <h2 class="content-header-title">Pcterminal 4.0</h2>
                </div>
            </div>
            <div class="content-body"><!-- Basic example section start -->
                <section id="basic-examples">
                    <div class="row">
                        <div class="col-xs-12 mt-1 mb-3">
                            <h4>Beta Pcterminal Automation</h4>
                            <p>Selenium automates browsers. That's it! What you do with that power is entirely up to you. Primarily, it is for automating web applications for testing purposes, but is certainly not limited to just that. Boring web-based administration tasks can (and should!) be automated as well.</p>

                        </div>
                    </div>
                </section>
            </div>
            <section id="content-types"> 
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <center>                                
                                <img  th:src="@{/imgs/usa.png}" class="card-img-top img-fluid"/>
                            </center>
                            <div class="card-block">
                                <h4 class="card-title">Regresion With Selenium</h4>
                                <p class="card-text">Here you can; Login, Recharge topup and sale Pin... (QA-2017)</p>
                                <div class="white-bg">
                                    <button type="button" data-toggle="modal" data-target="#modal-1" class="btn btn-outline-green">Run</button>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </section>         
        </div>
    </div>
    <div id="main"></div>
    <div class="modal fade" id="modal-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title" style="color: black;">Regresion</h3>
                </div>
                <div class="modal-body">                                                                            
                    <form name="dom" role="form" action="#" id="dom" method="post"> 
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">User Pcterminal</label>
                                    <input type="text" class="form-control border-green" id="user" name="user" placeholder="Enter User" value = "C9H13N"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Password Pcterminal</label>
                                    <input type="password" class="form-control border-green" id="pass" name ="pass" placeholder="Enter Password" value="1234" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Clerk Pcterminal</label>
                                    <input type="password" class="form-control border-green" id="clerk" name ="clerk" placeholder="Enter Clerk" value ="1234" />
                                </div>
                            </div>  
                            <div class="col-md-6" id ="el">     
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">ZipCode Lyca/Locus</label>
                                    <input type="text" class="form-control border-green" id="zip" name ="zip" placeholder="Enter ZipCode" value ="92610"/>
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">NPA</label>
                                    <input type="text" class="form-control border-green" id="npa" name ="npa" placeholder="Enter NPA" value ="123"/>
                                </div>
                            </div> 
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">ESN</label>
                                    <input type="text" class="form-control border-green" id="esn" name ="esn" placeholder="Enter ESN" value ="956"/>
                                </div>
                            </div> 

                            <div class="col-md-6" id ="el">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email Lyca/Locus</label>
                                    <input type="email" class="form-control border-green" id="email" name ="email" placeholder="Enter Email" value ="test@test.net"/>
                                </div>
                            </div> 
                        </div>
                        <div class="modal-body">
                            <h5 class="modal-title" style="color: black;">Select the Options Regresion</h5>
                            <br></br>
                            <div class="checkbox checkbox-danger">
                                <input  id="log" name="log" type="checkbox" checked="" disabled=""/>
                                <label for="log">
                                    Login
                                </label>
                            </div>
                            <div class="checkbox checkbox-success" >
                                <input id="act" name="act" type="checkbox"/>
                                <label for="act">
                                    Activation Lyca
                                </label>
                            </div>
                            <div class="checkbox checkbox-success" >
                                <input id="actlo" name="actlo" type="checkbox"/>
                                <label for="actlo">
                                    Activation Locus
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-lg btn-success btn-block"  data-toggle="modal" data-target="#modal-1" type="submit" >
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Accept
                            </button>  
                            <button type="button" class="btn btn-lg btn-danger btn-block" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--CAROUSEL-->
    <div class="modal fade" id="modal-2">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title" style="color: black;"> <i class="icon-arrow-right-c"></i>Regresion Result </h3>
                    <hr></hr>             
                    <p><b>Test Results:</b> here you can choose to see a graphic or see the step by step images.</p>                
                    <div>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" id="base-tab1" data-toggle="tab" aria-controls="tab1" href="#tab1" aria-expanded="true">Images</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="base-tab2" data-toggle="tab" aria-controls="tab2" href="#tab2" aria-expanded="false">Graphics</a>
                            </li>
                        </ul>
                    </div>
                </div>                                
                <div class="modal-body">
                    <section id="basic-carousel">
                        <div class="tab-content px-1 pt-1">
                            <div class="tab-pane active" id="tab1" aria-labelledby="base-tab1">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12" style="width: 800px">
                                        <div class="card">
                                            <div class="card-body collapse in">                                    
                                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="width: 840px">
                                                    <ol id='ol' class="carousel-indicators">                                                
                                                    </ol>
                                                    <div class="carousel-inner" role="listbox">
                                                        <div  id="automationImages" class="carousel-inner " role="listbox">
                                                            <div class="carousel-caption" id="h">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                                        <span class="icon-prev" aria-hidden="true"></span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                                        <span class="icon-next" aria-hidden="true"></span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                </div>                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane graphic1" id="tab2" aria-labelledby="base-tab2">                                
                                <div class="app-content content container-fluid">
                                    <div class="content-wrapper">
                                        <section id="chartjs-line-charts">
                                            Line Chart 
                                        <div class="row">
                                                <div class="card">
                                                    <div class="row">
                                                        <div class="col-xs-12">     
                                                            <div class="card-body collapse in">
                                                                <div class="card-block chartjs">
                                                                    <canvas id="column-chart" height="500" ></canvas>
                                                                </div>
                                                            </div>                                                    
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!--CAROUSEL-->
    <!-- End Body-->
    <!-- Content types section end -->
    <!-- / main menu-->
    <!-- BEGIN VENDOR JS-->

    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ TEST-->

    <script src="/resources/js/jquery.min.js" type="text/javascript"></script>
    <script src="/resources/js/tether.min.js" type="text/javascript"></script>
    <script src="/resources/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/resources/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="/resources/js/unison.min.js" type="text/javascript"></script>
    <script src="/resources/js/blockUI.min.js" type="text/javascript"></script>
    <script src="/resources/js/jquery.matchHeight-min.js" type="text/javascript"></script>
    <script src="/resources/js/screenfull.min.js" type="text/javascript"></script>
    <script src="/resources/js/pace.min.js" type="text/javascript"></script>    
    <script src="/resources/js/chart.min.js" type="text/javascript"></script>
    <script src="/resources/js/app-menu.js" type="text/javascript"></script>
    <script src="/resources/js/app.js" type="text/javascript"></script>
    <script src="/resources/js/selenium/dom.js" type="text/javascript" ></script>
    <!-- END PAGE LEVEL JS-->

</body>
</html>