<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    </head>
    <body>
        <header>
            <div class="jumbotron">
                <div class="container">
                    <h1>Hello World</h1>
                    <h3>Modals in Bootstrap</h3>
                </div> 
            </div> 
        </header>

        <div class="container">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-1">Activate the button</button>
            <div class="modal fade" id="modal-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title">Login Method</h3>
                        </div>
                        <div class="modal-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at pharetra sapien. Nulla scelerisque ex eget ligula ornare, vel efficitur quam dictum. Proin malesuada posuere risus suscipit mattis. Suspendisse potenti. Donec et odio nibh. Praesent auctor erat at nunc gravida tincidunt. Ut facilisis, ex ultricies scelerisque aliquam, ex lectus fermentum urna, quis auctor eros ante non dui. 
                            <form role="form">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Version</label>
                                    <input type="email" class="form-control"
                                           id="version" placeholder="Enter Version"/>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">User</label>
                                    <input type="email" class="form-control"
                                           id="user" placeholder="Enter User"/>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Password</label>
                                    <input type="email" class="form-control"
                                           id="pass" placeholder="Enter Password"/>
                                </div>
                            </form>

                        </div>

                        <div class="modal-footer">
                            <a href="" class="btn btn-default" data-dismiss="modal">Close</a>
                            <a href="" class="btn btn-primary">Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Latest compiled and minified JavaScript -->
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
</html>
